{% extends 'base.html.twig' %}

{% block title %}Connexion - {{ website_title }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/viewPassword.css') }}">
{% endblock %}

{% block body %}
<section class="page-section mt-5" id="connexion">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Connexion</h2>

<form method="post" class="mx-auto" novalidate>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {# {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
        </div>
    {% endif %} #}

    <div class="form-group">
    <label for="inputUsername">Identifiant (*)</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    </div>
    
    <div class="form-group">
    <label for="inputPassword">Mot de passe (*)</label>
        <div id="wrapper">
            <input type="password" name="password" id="inputPassword" class="form-control" required>
            <i class="fas fa-eye" style="cursor: pointer;"></i>
        </div>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <small id="forgotPasswordHelp" class="form-text text-muted mb-2">
    <a href="{{ path('ask_new_password') }}" style="color: red;"><i class="fas fa-exclamation-circle"></i> Mot de passe oublié ?</a></small>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-primary btn-xl" type="submit">
        Connexion
    </button>
</form>

</div>
</section>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/viewPassword.js') }}"></script>
{% endblock %}
