{% extends 'base.html.twig' %}

{% block title %}{{ website_title }} - Bibliothèque virtuelle{% endblock %}

{% block body %}
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="{{ asset('assets/media/default/books.jpeg') }}" alt="livres" id="books_img_home" /><!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">{{ website_title }}</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Créez votre bibliothèque virtuelle</p>
            </div>
        </header>

        <!-- About Section-->
        <section class="page-section mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary">Votre bibliothèque virtuelle</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto">
                        {% for post in posts1 %}
                            <p class="lead">{{ post.body|bbcode|raw }}</p>
                        {% endfor %}
                    </div>
                    <div class="col-lg-4 mr-auto">
                        {% for post in posts2 %}
                            <p class="lead">{{ post.body|bbcode|raw }}</p>
                        {% endfor %}
                    </div>
                </div>
                <!-- About Section Button-->
                {% if not app.user %}
                <div class="text-center mt-4">
                    <a class="btn btn-xl bg-secondary btn-outline-light" href="{{ path('sign_up') }}"><i class="fas fa-sign-in-alt"></i> Inscription</a>
                </div>
                {% endif %}
            </div>
        </section>

        <!-- Portfolio Section-->
        <section class="page-section bg-primary text-white portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Livres à la une</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row">
                    <!-- Star Books -->
                    {% for book in star_book %}
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#star_book_{{ loop.index }}">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-search fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{{ asset('assets/media/books/star-books/'~book.img) }}" alt="" style="width: 300px; height: 500px;">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row">
                    <div class="col-lg-8 mx-auto" id="contact_form_container">
                        {# Affichage dynamique du formulaire de contact #}
                    </div>
                    <div class="col-12 p-0 mt-2" id="contact_flash_message">
                        <div class="alert alert-success p-1 col-7 mx-auto h4" role="alert" style="display: none;">
                            {# Affichage dynamique message flash #}
                        </div>
                    </div>
                </div>
            </div>
        </section>





                <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
                {# <div class="scroll-to-top d-lg-none position-fixed">
                    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
                </div> #}
                <!-- Portfolio Modals-->
                <!-- Star Books Modal-->
                {% for book in star_book %}
                <div class="portfolio-modal modal fade" id="star_book_{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fas fa-times"></i></span>
                            </button>
                            <div class="modal-body text-center">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ book.title }}</h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                <div class="divider-custom-line"></div>
                                            </div>
                                            <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="{{ asset('assets/media/books/star-books/'~book.img) }}" alt="" /><!-- Portfolio Modal - Text-->
                                            <p>{{ book.description|raw }}</p>
                                            <button class="btn btn-primary mt-3" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
{% endblock %}

{% block javascripts %}
<script>
    var urlContact = "{{ path('contact')|e('js') }}";
</script>
<script src="{{ asset('assets/js/contact.js') }}"></script>
{% endblock %}