<div class="portfolio-modal modal fade" id="form_add_book" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close add_book_modal_close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                {#<a href="{{ path('book_list', {slug: user.slug}) }}" class="close" type="button" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </a>#}
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Nouveau livre</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>

                                {# Gestion des messages d'alerte #}
                                <div id="container_add_book_alert_message">
                                    <div class="alert alert-success col-md-6 mx-auto py-0" role="alert" id="add_book_alert">
                                        {# Contenu du message d'alerte #}
                                    </div>
                                </div>

                                <div>
                                    <div class="form-group">
                                        <label for="search_book">Recherche (livre, auteur)</label>
                                        <p>
                                        <select class="js-states form-control" id="search_book" name="state" placeholder="bar">
                                            <option></option>
                                            {# <option value="AL">Alabama</option>
                                            <option value="WY">Wyoming</option> #}
                                        </select>
                                        </p>
                                        {# <input type="text" class="form-control" id="search_book" aria-describedby="searchBookHelp" placeholder="Les Misérables Victor Hugo" name="search_book"> #}
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" id="search_book_fr" name="search_book_fr" checked>
                                        <label class="form-check-label" for="search_book_fr">Recherches francophones</label>
                                    </div>
                                    {# <button type="submit" class="btn btn-primary">Submit</button> #}
                                </div>
                                <a type="button" class="btn btn-primary my-3 add_book_modal_close" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Fermer</a>
                                <div type="button" class="btn btn-secondary text-light my-3" id="manual_add_book_action" data-toggle="tooltip" data-placement="bottom" title="Aucun résultat trouvé ? Ajoutez manuellement votre livre."><i class="fas fa-align-left"></i> Ajout manuel</div>


                                {# FORMULAIRE AUTO-COMPLETE #}
                                <form class="mt-1" action="" method="POST" id="book_info_form">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <img src="{{ asset('assets/media/default/book.png') }}" class="img-fluid mx-auto" alt="book_image" id="book_image_form">
                                        </div>
                                        <div class="col-md-8">
                                            <button type="submit" class="btn btn-info my-3 mt-md-0"><i class="fas fa-plus-circle"></i> Valider</button>
                                            <div class="form-group row">
                                                <label for="note" class="col-lg-3 col-form-label" data-toggle="tooltip" data-placement="right" title="La note sera visible dans votre bibliothèque">Note</label>
                                                <div class="col-lg-9">
                                                    <select class="form-control" id="note" name="note">
                                                        {% for note in notes %}
                                                        <option value="{{ note }}">{{ note }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="category" class="col-lg-3 col-form-label">Catégorie</label>
                                                <div class="col-lg-9">
                                                    <select class="form-control" id="category" name="category_book">
                                                        {% if categories %}
                                                            {% for category in categories %}
                                                            <option {% if loop.first %}selected{% endif %} value="{{ category.id }}">{{ category.name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="comment" class="col-lg-3 col-form-label" data-toggle="tooltip" data-placement="right" title="Le commentaire sera visible dans votre bibliothèque">Commentaire</label>
                                                <div class="col-lg-9">
                                                    <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                      <label for="title" class="col-sm-2 col-form-label">Titre</label>
                                      <div class="col-sm-10">
                                        <input type="text" readonly class="form-control" id="title" name="title">
                                      </div>
                                    </div>
                                    <!-- <div class="form-group row">
                                        <label for="subtitle" class="col-sm-2 col-form-label">Sous-titre</label>
                                        <div class="col-sm-10">
                                          <input type="text" readonly class="form-control" id="subtitle" name="subtitle">
                                        </div>
                                    </div> -->
                                    <div class="form-group row">
                                        <label for="author" class="col-sm-2 col-form-label">Auteur</label>
                                        <div class="col-sm-10">
                                          <input type="text" readonly class="form-control" id="author" name="author">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="published_date" class="col-sm-2 col-form-label">Date de publication</label>
                                        <div class="col-sm-10">
                                          <input type="text" readonly class="form-control" id="published_date" name="published_date">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="description" class="col-sm-2 col-form-label">Résumé</label>
                                        <div class="col-sm-10">
                                            <textarea readonly class="form-control" id="description" name="description" rows="7"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="litteral_category" class="col-sm-2 col-form-label">Genre</label>
                                        <div class="col-sm-10">
                                            <input type="text" readonly class="form-control" id="litteral_category" name="litteral_category">
                                        </div>
                                    </div>
                                    <input type="hidden" id="reference" name="reference">
                                    <input type="hidden" id="subtitle" name="subtitle">
                                    <input type="hidden" id="isbn_13" name="isbn_13">
                                    <input type="hidden" id="isbn_10" name="isbn_10">
                                    <input type="hidden" id="image" name="image">

                                    <button type="submit" class="btn btn-info mb-3"><i class="fas fa-plus-circle"></i> Valider</button>
                                </form>
                                {# FIN fFORMULAIRE AUTO-COMPLETE #}

                                {# FORMULAIRE AJOUT MANUEL #}
                                <form class="mt-1" action="" method="POST" id="manual_add_book_form">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <img src="{{ asset('assets/media/default/book.png') }}" class="img-fluid mx-auto" alt="book_image" id="manual_add_book_image_form">
                                        </div>
                                        <div class="col-md-8">
                                            <button type="submit" class="btn btn-info my-3 mt-md-0"><i class="fas fa-plus-circle"></i> Valider</button>
                                            <div class="form-group row">
                                                <label for="manual_form_note" class="col-lg-3 col-form-label" data-toggle="tooltip" data-placement="right" title="La note sera visible dans votre bibliothèque">Note</label>
                                                <div class="col-lg-9">
                                                    <select class="form-control" id="manual_form_note" name="manual_form_note">
                                                        {% for note in notes %}
                                                        <option value="{{ note }}">{{ note }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="manual_form_category" class="col-lg-3 col-form-label">Catégorie</label>
                                                <div class="col-lg-9">
                                                    <select class="form-control" id="manual_form_category" name="manual_form_category_book">
                                                        {% if categories %}
                                                            {% for category in categories %}
                                                            <option {% if loop.first %}selected{% endif %} value="{{ category.id }}">{{ category.name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="manual_form_comment" class="col-lg-3 col-form-label" data-toggle="tooltip" data-placement="right" title="Le commentaire sera visible dans votre bibliothèque">Commentaire</label>
                                                <div class="col-lg-9">
                                                    <textarea class="form-control" id="manual_form_comment" name="manual_form_comment" rows="3"></textarea>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                      <label for="manual_form_title" class="col-sm-2 col-form-label">Titre</label>
                                      <div class="col-sm-10">
                                        <input type="text" class="form-control" id="manual_form_title" name="manual_form_title">
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="manual_form_author" class="col-sm-2 col-form-label">Auteur</label>
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" id="manual_form_author" name="manual_form_author">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="manual_form_published_date" class="col-sm-2 col-form-label">Date de publication</label>
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" id="manual_form_published_date" name="manual_form_published_date">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="manual_form_description" class="col-sm-2 col-form-label">Résumé</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="manual_form_description" name="manual_form_description" rows="7"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="manual_form_litteral_category" class="col-sm-2 col-form-label">Genre</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="manual_form_litteral_category" name="manual_form_litteral_category">
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-info mb-3"><i class="fas fa-plus-circle"></i> Valider</button>
                                </form>
                                {# FIN FORMULAIRE AJOUT MANUEL #}


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>