<nav class="navbar navbar-expand-lg navbar-dark bg-dark col-12">
  <a class="navbar-brand" href="{{ path('home_page') }}">Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
{# <pre>
    {{ dump(app.user) }}
    {{ dump(app.request.attributes.get('_route')) }}
</pre> #}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if not app.user %}
      <li class="nav-item {% if app.request.attributes.get('_route') == 'sign_up' %}active{% endif %}">
        <a class="nav-link" href="{{ path('sign_up') }}"><i class="fas fa-user-plus"></i> Inscription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if app.request.attributes.get('_route') == 'login' %}active{% endif %}" href="{{ path('login') }}"><i class="fas fa-sign-in-alt"></i> Connexion</a>
      </li>
      {% endif %}
      {% if app.user %}
      <li class="nav-item">
        <a class="nav-link {% if app.request.attributes.get('_route') == 'logout' %}active{% endif %}" href="{{ path('logout') }}"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
      </li>
      {% endif %}
    </ul>
    <form action="" method="GET" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Utilisateur" aria-label="Search" name="s">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i> OK</button>
    </form>
  </div>
</nav>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}