<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="Bibliothèque virtuelle - Création d'une bibliothèque-librairie en ligne">
        <meta name="keywords" content="bibliothèque,bibliotheque,librairie,virtuelle">
        <meta name="author" content="Florian Mathevon">
        <title>{% block title %}{{ website_title }} - Bibliothèque virtuelle{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('assets/favicon.ico') }}{{ assets_version }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/fontawesome/css/all.min.css') }}">
        <!-- @font-face-->
        <link rel="stylesheet" href="{{ asset('assets/css/font.css') }}{{ assets_version }}" type="text/css">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{{ asset('assets/css/startbootstrap-styles.css') }}{{ assets_version }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}{{ assets_version }}">

        <!-- Google SearchConsole -->
        <meta name="google-site-verification" content="Tbwd6z5xRpLuLE0FYiH3pGIm7B9pEQ5nKuN8bxgFvy8" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134175201-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-134175201-2');
        </script>

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body id="page-top">

{{ include('_navbar.html.twig') }}

{% block body %}

{% endblock %}

{{ include('_footer.html.twig') }}

        <!-- Bootstrap core JS-->
        <script src="{{ asset('assets/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <!-- Third party plugin JS-->
        <script src="{{ asset('assets/jquery/jquery.easing.min.js') }}"></script>
        <!-- Contact form JS-->
        {# <script src="assets/mail/jqBootstrapValidation.js"></script> #}
        {# <script src="assets/mail/contact_me.js"></script> #}
        <!-- Core theme JS-->
        <script src="{{ asset('assets/js/startbootstrap-scripts.js') }}{{ assets_version }}"></script>
        <script src="{{ asset('assets/js/main.js') }}{{ assets_version }}"></script>
        <script src="{{ asset('assets/js/socialNetwork.js') }}{{ assets_version }}"></script>

        {% block javascripts %}
        {% endblock %}

    </body>
</html>
