<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bibliothèque virtuelle - Création d'une bibliothèque-librairie en ligne">
    <meta name="keywords" content="bibliothèque,bibliotheque,librairie,virutelle">
    <meta name="author" content="Florian Mathevon">
    <title>{% block title %}Bibliothèque virtuelle{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('assets/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>

    <div class="container-fluid">
        <header class="row col-12 mx-0">
            {{ include('_navbar.html.twig') }}
        </header>

        <div class="row col-12 mx-0" id="main_container">
            {% block body %}
            {% endblock %}
        </div>

        <footer class="row col-12 mx-0">
            {{ include('_footer.html.twig') }}
        </footer>
    </div>

    <script src="{{ asset('assets/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
