{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {# {{ form_widget(form) }} #}
    {# {% if not (app.user and app.user.role.code == 'ROLE_ADMIN' and app.user.id != user.id) %} #}
    {{ form_row(form.username) }}
    {# {% endif %} #}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {% if app.user %}
    {{ form_row(form.avatar) }}
    {{ form_row(form.bio) }}
    <small id="bbcodeHelp" class="form-text text-muted mb-3">
        BBCode autorisé : <u>[b]gras[/b]</u> - <i>[i]italique[/i]</i> - <u>[u]souligné[/u]</u> - <span style="color: red;">[color=red]rouge[/color=red]</span>
    </small>
    {{ form_row(form.public) }}
    {% if (app.user and app.user.role.code == 'ROLE_ADMIN' and app.user.id != user.id) %}
    {{ form_row(form.role) }}
    {{ form_row(form.active) }}
    {% endif %}
    {% endif %}
    {% if captcha is defined %}
    <p><img src="{{ 'data:image/jpeg;base64,' ~ captcha }}" class="img-fluid" alt="captcha" title="captcha"></p>
    {{ form_row(form.captcha) }}
    {% endif %}
    {% if not app.user %}
    <input type="submit" class="btn btn-primary btn-xl" value="Inscription">
    {% else %}
    <input type="submit" class="btn btn-primary btn-xl" value="Sauvegarder les modifications">
    {% endif %}
{{ form_end(form) }}