{% extends 'base.html.twig' %}

{% block title %}Profil {{ user.username|capitalize }} - {{ website_title }}{% endblock %}

{% block body %}
<section class="page-section mt-5" id="dashboard">
    <div class="container p-0">
        <h2 class="page-section-heading text-left text-uppercase text-secondary mb-0 ml-3">Profil {{ user.username|upper }}</h2>

{% if user %}
<div class="row col-12 m-0 p-0">
    <div class="card mt-3 col-12 col-lg-3 p-0 p-lg-1">
        {{ form_start(avatar_form, {'attr': {'novalidate': 'novalidate', 'id': 'avatar_form'}}) }}
        <div class="form-error">
            {{ form_errors(avatar_form.avatar) }}
        </div>
        {{ form_row(avatar_form.avatar) }}
    {{ form_end(avatar_form) }}
        {% if user.avatar %}
            <img class="card-img-top" src="{{ asset(avatar_repo ~ '/' ~ user.avatar) }}" alt="avatar-{{ user.username }}" title="Avatar de {{ user.username|capitalize }}" id="avatar_profil">
        {% else %}
            <img class="card-img-top" src="{{ asset('/assets/media/default/avatar.jpg') }}{{ assets_version }}" alt="avatar-{{ user.username }}" title="Avatar de {{ user.username|capitalize }}" id="avatar_profil">
        {% endif %}
        {% if is_granted('ROLE_ADMIN') or is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.id == user.id %}
        <div class="text-center mt-1 my-3">
            <span class="card-link text-primary" id="avatar_profil_update_link">Modifier avatar</span><br>
            {% if user.avatar %}
                <a href="{{ path('user_avatar_delete', {id: user.id}) }}" class="card-link btn_delete">Supprimer avatar</a><br>
            {% endif %}
                <a href="{{ path('user_update', {id: user.id}) }}" class="card-link">Modifier profil</a>
        </div>
        {% endif %}
        {% if books %}
        <div>
            <p class="text-center mt-3">
            <a href="{{ path('book_list', {slug: user.slug}) }}" class="card-link h5"><i class="fas fa-book"></i> Bibliothèque <i class="fas fa-link" style="font-size: 50%;"></i></a>
            </p>
            <ul class="list-group list-group-flush">
            {% for book in books %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ book.category_name }}
                <span class="badge badge-{% if book.css %}{{ book.css }}{% else %}primary{% endif %} badge-pill">{{ book.nb }}</span>
                </li>
            {% endfor %}
            </ul>
            <p class="text-center h5 mt-4 text-primary"><i class="fas fa-external-link-square-alt"></i> Partagez</p>
            <div class="text-center mt-3 mb-2">
                <i class="btn btn-outline-light bg-secondary btn-social mx-1 fab fa-fw fa-facebook-square share_facebook social_network" data-sitename="{{ website_title }}" data-url="{{ app.request.uri }}"></i>
                <i class="btn btn-outline-light bg-info btn-social mx-1 fab fa-fw fa-twitter-square share_twitter social_network" data-sitename="{{ website_title }}" data-url="{{ app.request.uri }}"></i>
                <i class="btn btn-outline-light bg-secondary btn-social mx-1 fab fa-fw fa-linkedin share_linkedin social_network" data-sitename="{{ website_title }}" data-url="{{ app.request.uri }}"></i>
            </div>
        </div>
        {% endif %}
    </div>


    <div class="card mt-3 col-12 col-lg-9 p-0 p-lg-1">
        <div class="card-body col-lg-12">
        <h5 class="card-title">Présentation</h5>
        <p class="card-text">
            Pseudo : {{ user.username|capitalize }}<br>
            {% if is_granted('ROLE_ADMIN') or is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.id == user.id %}
            Email: {{ user.email }} <i class="fas fa-exclamation" data-toggle="tooltip" data-placement="right" title="Votre adresse email n'est visible que par vous. Aucun tiers n'y a accès."></i><br>
            <small id="emailDashboardHelp" class="form-text text-muted">Votre email n'est pas visible par les membres.</small>
            {% endif %}
            Note moyenne attribuée : <span class="badge badge-pill badge-dark">{{ average_note }} / 20</span><br>
            Nombre de livres : <b>{{ user.books|length }}</b><br>
            Date d'inscription : {{ user.createdAt is empty ? "" : user.createdAt|date("d/m/Y") }}<br>
            Date dernière connexion : {{ user.connectedAt is empty ? "" : user.connectedAt|date("d/m/Y") }}<br>
            {% if is_granted('ROLE_ADMIN') or is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.id == user.id %}
            Profil : {% if user.public %}<span class="badge badge-success">Public</span>{% else %}<span class="badge badge-warning">Privé</span>{% endif %}
            {% endif %}
            {# Tableau de bord visible uniquement pour administrateur sur sa page profil #}
            {% if is_granted('ROLE_ADMIN') and app.user.id == user.id %}
                <div class="alert alert-dark px-2 py-1" role="alert">
                    <strong>Administration</strong><br>
                    <p class="p-0 mt-1 mb-2">
                    <a href="{{ path('admin_users') }}" class="card-link text-secondary font-weight-bold">Gestion utilisateurs</a><br>
                    <a href="{{ path('category_index') }}" class="card-link text-secondary font-weight-bold">Gestion catégories</a><br>
                    <a href="{{ path('post_index') }}" class="card-link text-secondary font-weight-bold">Gestion articles</a>
                    </p>
                    <p class="p-0 mb-2">
                    Nombre utilisateurs : T ({{ userNb.total }}) - A ({{ userNb.actif }}) - I ({{ userNb.inactif }}) - Pu ({{ userNb.public }}) - Pr ({{ userNb.prive }})<br>
                    Nombre livres (total) : {{ countBook }}
                    </p>
                </div>
            {% endif %}
            
        </p>
        <p class="text-left">
            <a href="{{ path('user_list') }}" class="card-link h6"><i class="far fa-list-alt"></i> Annuaire des membres <i class="fas fa-link" style="font-size: 50%;"></i></a>
        </p>

        <h6 class="card-title">Bio</h6>
        <p class="card-text" id="user_bio">
            {% if user.bio %}
            {{ user.bio|bbcode()|raw }}
            {% else %}
            {{ user.username|capitalize }} n'a pas encore écrit sa bio.
            {% endif %}
        </p>

        {% if bestBooks|length > 0 %}
            <h6 class="card-title">Livres les mieux notés</h6>
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th scope="col">Rang</th>
                    <th scope="col">Livres</th>
                    <th scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bestBook in bestBooks %}
                    <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ bestBook.title }}{{ bestBook.author is empty ? "" : " - " ~ bestBook.author }} {% if loop.index <= 3 %}<i class="fas fa-trophy text-warning"></i>{% endif %}</td>
                    <td class="text-center">{{ bestBook.note }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {# Fin #}
        <i class="fas fa-book-open"></i> <i class="fas fa-dog"></i> <i class="fas fa-cat"></i> <i class="fas fa-glasses"></i>
        </div>
    </div>
</div>
{% endif %}

</div>
</section>
{% endblock %}

{% block javascripts %}
    {% if is_granted('ROLE_ADMIN') or is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.id == user.id %}
    <script src="{{ asset('assets/js/uploadAvatar.js') }}{{ assets_version }}"></script>
    {% endif %}
{% endblock %}