{% extends 'base.html.twig' %}

{% block title %}Profil {{ user.username|capitalize }} - {{ website_title }}{% endblock %}

{% block body %}
<section class="page-section mt-5" id="dashboard">
    <div class="container">
        <h2 class="page-section-heading text-left text-uppercase text-secondary mb-0">Profil {{ user.username|upper }}</h2>

{% if user %}
<div class="row col-12">
    <div class="card mt-3 col-12 col-lg-3">
        {{ form_start(avatar_form, {'attr': {'novalidate': 'novalidate', 'id': 'avatar_form'}}) }}
        <div class="form-error">
            {{ form_errors(avatar_form.avatar) }}
        </div>
        {{ form_row(avatar_form.avatar) }}
    {{ form_end(avatar_form) }}
        {% if user.avatar %}
        <img class="card-img-top" src="{{ asset(avatar_repo ~ '/' ~ user.avatar) }}" alt="avatar {{ user.username }}" title="Uploader un nouvel avatar" id="avatar_profil" 
        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == user.id %}style="cursor: pointer;"{% endif %}>
        {% else %}
        <img class="card-img-top" src="{{ asset('/assets/media/default/avatar.jpg') }}" alt="avatar {{ user.username }}" title="Uploader un nouvel avatar" id="avatar_profil" 
        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == user.id %}style="cursor: pointer;"{% endif %}>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') or is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == user.id %}
        <div class="text-center mt-1 mb-3">
            {% if user.avatar %}
            <a href="{{ path('user_avatar_delete', {id: user.id}) }}" class="card-link btn_delete">Supprimer avatar</a><br>
            {% endif %}
            <a href="{{ path('user_update', {id: user.id}) }}" class="card-link">Modifier profil</a>
            {% if is_granted('ROLE_ADMIN') and user.role.code == 'ROLE_ADMIN' %}
            <br>
            <a href="{{ path('admin_users') }}" class="card-link">Gestion utilisateurs</a>
            {% endif %}
        </div>
        {% endif %}
        {% if books %}
        <div>
            <p class="text-center mt-3">
            <a href="{{ path('book_list', {slug: user.slug}) }}" class="card-link h5"><i class="fas fa-book"></i> Bibliothèque</a>
            </p>
            <ul class="list-group list-group-flush">
            {% for book in books %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ book.category_name }}
                <span class="badge badge-{% if book.css %}{{ book.css }}{% else %}primary{% endif %} badge-pill">{{ book.nb }}</span>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>


    <div class="card mt-3 col-12 col-lg-9">
        <div class="card-body col-lg-12">
        <h5 class="card-title">Présentation</h5>
        <p class="card-text">
            Pseudo : {{ user.username }}<br>
            {% if is_granted('ROLE_ADMIN') or is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == user.id %}
            Email: {{ user.email }}<br>
            {% endif %}
            Note moyenne attribuée : <span class="badge badge-pill badge-dark">{{ average_note }} / 20</span><br>
            Nombre de livres : <b>{{ user.books|length }}</b><br>
            Date d'inscription : {{ user.createdAt is empty ? "" : user.createdAt|date("d/m/Y") }}<br>
            Date dernière connexion : {{ user.connectedAt is empty ? "" : user.connectedAt|date("d/m/Y à H\\hi") }}<br>
            Réf : <i>{{ ref }}</i><br>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            Profil : {% if user.public %}<span class="badge badge-success">Public</span>{% else %}<span class="badge badge-warning">Privé</span>{% endif %}<br>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') and user.role.code == 'ROLE_ADMIN' %}
                {% if sqlite_version %}
                Version SQLite : {{ sqlite_version.versionString }} - {{ sqlite_version.versionNumber }}<br>
                {% endif %}
                Nombre utilisateurs : T ({{ userNb.total }}) - A ({{ userNb.actif }}) - I ({{ userNb.inactif }})<br>
            {% endif %}
            
        </p>
        <p class="text-left">
            <a href="{{ path('user_list') }}" class="card-link h6"><i class="far fa-list-alt"></i> Annuaire des membres</a>
        </p>

        <h6 class="card-title">Bio</h6>
        <p class="card-text" id="user_bio">
            {% if user.bio %}
            {{ user.bio|nl2br }}
            {% else %}
            {{ user.username|capitalize }} n'a pas encore écrit sa bio.
            {% endif %}
        </p>

        {% if bestBooks|length > 0 %}
            <h6 class="card-title">Livres les mieux notés</h6>
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th scope="col">Rang</th>
                    <th scope="col">Livres</th>
                    <th scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bestBook in bestBooks %}
                    <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ bestBook.title }}{{ bestBook.author is empty ? "" : " - " ~ bestBook.author }} {% if loop.index <= 3 %}<i class="fas fa-trophy text-warning"></i>{% endif %}</td>
                    <td class="text-center">{{ bestBook.note }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {# Fin #}
        <i class="fas fa-book-open"></i> <i class="fas fa-dog"></i> <i class="fas fa-cat"></i> <i class="fas fa-glasses"></i>
        </div>
    </div>
</div>
{% endif %}

</div>
</section>
{% endblock %}

{% block javascripts %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == user.id %}
    <script src="{{ asset('assets/js/uploadAvatar.js') }}"></script>
    {% endif %}
{% endblock %}