{% extends 'base.html.twig' %}

{% block title %}Mise à jour profil - {{ website_title }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/viewPassword.css') }}{{ assets_version }}">
{% endblock %}

{% block body %}
<section class="page-section mt-5" id="user_update">
    <div class="container">
        <h2 class="page-section-heading text-left text-uppercase text-secondary mb-0 ml-3">Mise à jour {{ user.username }}</h2>

{% include 'user/_form.html.twig' with { 'form': form } %}

    </div>
</section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/viewPassword.js') }}{{ assets_version }}"></script>
{% endblock %}